


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "roboto", "poppins", sans-serif;
    background-color: #f4f4f4;
}
.desktopNav {
    font-size: 40px;
    padding-top: 1%;
    display: flex;  
}
#logo {
    font-size: 30px;
    margin-left: 5%;
    margin-right: auto;
}

#logo:hover {
    cursor: default;
}

.navbarnav {
    display: flex;
    justify-content: flex-end;
}

.navbarnav a{
    text-decoration: none;
    color: black;
}

.desktopNav li {
    margin: 0px 30px 0px 30px;
}

ul{
    list-style-type: none;
}

#flag {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
 
.nav__link {
    position: relative;
    transition: all 0.4s ;
    
}
.nav__link:hover {
    color: gray;
}
.nav__link:hover::after {
    opacity: 1;
}

.nav__link::after {
    content: "" ;
    height: 4px;
    width: 100%;
    background: #38a3a5 ;
    position: absolute;
    left: 0;
    bottom: -15px ;
    opacity: 0;
    transition: all 0.4s;
    pointer-events: none;
}





#photo1 {
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 5px 5px #38a3a5;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    width: 500px;
    height: 400px;
    margin-top: 10%;
}


@keyframes animate {
    0%,100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    
}


.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    flex-direction: row;
}



.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 40px;
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;
}

.buttons{
    display: flex;
    flex-direction: row;
     
}

.buttons a{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: white;
    background-color: #38a3a5 ;
    padding: 2% 5% ;
    margin: 5% 5%;
    border-radius: 20px;
    transition: all 0.4s;
}

#icon{
    margin-left: 3%;
    width: 40px;
    height: 40px;
    
}
.buttons a:hover{
    opacity: 90%;
    color: white;
    transform: scale(1.1);
}

.typewriter {
    display: inline-block; 
    overflow: hidden; /
    margin-top: 5%; 
    font-size: 50px; 
  }
  #text {
    color: #38a3a5;
    border-right: .15em solid #38a3a5; 
    padding-right: 5px; 
    animation: blink-caret 0.75s step-end infinite;
  }

  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #38a3a5; }
  }

  #lastName{
    color: #38a3a5;
  }
  #greet {
    font-size: 60px;
  }


.about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10%;
    padding-left: 5% ;
}

.aboutImages{
    width: 40%;
    position: relative;
    
}

.aboutImages img{
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
}

#aboutImages1{
    z-index: 0;
}

#aboutImages2{
    scale: 0.8;
    z-index: 1;
    top: 200px;
    left: 200px;
}

.aboutText{
    width: 50%;
    margin-left: 5%;
    font-size: 25px;
}

.additionalText{
    display: flex;
    margin-top: 5% ;
    line-height: 1.6;
    
}

.additionalText > ul:nth-child(2) {
    margin-left: 10%;
}

.experience {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10%;
}

.wrapper {
    
    margin-top: 10%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-wrap: wrap;
    
    }
.wrapper2 {
    display: flex;
    flex-wrap: wrap;
}

.experience img {
    width: auto;
    height: 120px;
    pointer-events: none;
}
.experience p {
    pointer-events: none;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 180px;
    height: 180px;
    margin: 40px ;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: all 0.4s;
    line-height: 3;
    
}

.collumn :hover {
    transform: scale(1.2);
}

.contact{
    padding-top: 10%;
    background-color: #0d1b2a;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}
.contactWrapper{
    color: #f4f4f4;
    background-color: #0d1b2a;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.contactInfo {
    display: flex;
    line-height: 2;
    font-size: 20px;
}
.contactInfo span {
    color: #38a3a5;
    font-weight: 900;
    font-size: 30px;

}


.contactMe{
    display: flex;
    margin-right: 20%;
    
}

.contactMe img {
    width: 50px;
    height: 50px;
    margin: 80% 0;
}

.contactMe li {
    margin: 30px;
}

.contactText {
    margin-bottom: 5% ;
}

.contactText h2 {
    font-size: 60px;
}

#formTitle {
    color: black;
    line-height: 1;
    margin: 9% 0 ;
}

.form input , textArea {
    background-color: ;
    font-size: 25px;
    margin: 10px 20%;
    margin-bottom: 6%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #38a3a5;
    width: 400px;
    background-color: #f4f4f4;
}

.form button {
    width: 35%;
    height: 10%;
    padding: 10px;
    background-color: #38a3a5;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 800;
    transition: all 0.4s;
}
.form button:hover {
    scale: 1.1;
    cursor: pointer;
}

.form{
    color: black;
    width: 900px ;
    height: 600px;
    padding: 0%;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 7px 15px #38a3a5;    
    margin-left: 10%;
}

.inputGroup{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.placeholder {
    position: absolute;
    top: 16px;
    left: 20px ;
    transition: 0.3s;
    pointer-events: none;
}

.inputGroup:focus-within .placeholder {
    top: -10px;
    background-color: #f4f4f4;
}